@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	font-family: 'Source Code Pro', monospace;
	background: #06283D;
}

.timer-container {
	position: relative;
	margin-top: 19%;
}

h1 {
	text-align: center;
	color: #DFF6FF;
	font-size: 120px;
	letter-spacing: 8px;
	margin: 0;
}

.buttons {
	margin: 5% 0;
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 40px;
}

button {
	padding: 8px 24px;
	font-size: 30px;
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
}


#startStop {
	background: #47B5FF;
	color: #DFF6FF;
}

#stopBtn {
	background: #F15412;
	color: #DFF6FF;
}

#resetBtn {
	background: #DFF6FF;
	color: #06283D;
}